header > div{
	overflow: hidden;
    list-style-type: none;
	background-color: #222;
}

header > div > li{
	float: left;
}

header > div > li > a {
    padding: 13px;
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
}

header > div > li > a:hover:not(.active) {
	background-color: #111;
}

header > div > li > a.active {
	background-color: #4caf50;
}

@media screen and (max-width: 600px) {
    header > div > li {
      float: none;
    }
}